body{
    color:white;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.table{
    color:white
}

.alert{
    position:fixed;
    top:0;
    right:0;
    width:100%;
}

div[disabled] {
    pointer-events: none;
    opacity: 0.4;
  }