.modal-content{
    background-color: #202020;
}

.close{
    color:white;
    opacity:1;
}

.close:hover{
    color: #f4f4f4
}

.alert{
    position:absolute;
    top:0;
    right:0;
    width:100%;
}